# Windows Setup Util Default Config
# Not sure what the best way to organize these will be so they are just grouped together arbnitrarily for now
Categories
{ Windows
        { Windows Debloat
            { Remove Apps

            }
            { Remove/Disable Scheduled Tasks

            }
            { Remove/Disable Services

            }
            { Bloatware and advertizing
                Start Menu Suggestions
                Suggested Content in Settings
                Show Suggestions Occasionally
                Show suggestions in timeline
                Lockscreen Suggestions
                Preinstalled Apps
                Allow Windows to install adware
                Ads in File Explorer
                Windows Welcome Experience
                Tips tricks and suggestions
            }
            { Privacy Settings
                Ask for feedback
                Let apps use advertizing ID
                Let Windows track app launches
                Let Windows track app launches to improve start and search results
                Let apps on other devices open messages and apps on this device
            }
            { Speech Inking and Typing
                Improve recognition
                Pen & Windows Ink - Show recommended app suggestions
            }
            { People
                Show My People notifications
	            Show My People app suggestions
            	People on Taskbar
            }
            { Other
                Use Autoplay for all media and devices
                Taskbar search, personal preference. 0 = no search, 1 = search icon, 2 = search bar
                Allow search to use location if it's enabled
                Do not track - Edge
                Do not track - IE
            }
        }
        { User Settings
            { App Permissions
                Location
                Camera
                Microphone
                Notifications
                Account Info
                Contacts
                Calendar
                Call History
                Email
                Tasks
                TXT/MMS
                Radios
                Cellular Data
                Allow apps to run in background global setting
                App Diagnostics
                My Documents
                My Pictures
                My Videos
                File System
            }
            { Tablet Settings 
                Deny access to location and sensors
                Turn off location - global
            }
            { Cortana 
                Disable Cortana and Bing search user settings
                Disable Bing search from start menu/search bar
                Disable Cortana on lock screen
                Disable Cortana search history
            }
            { Game Settings 
                Disable Game Dvr
            }
            { OneDrive Settings
                Disable Startup
                Disable automatic setup for new accounts
            }
        }
        { Local Machine Settings
            { Application Compatibility
                {
                    Turn off Application Telemetry
                    Turn off inventory collector
                }
            }
            { Cloud Content
                {
                    Turn off Consumer Experiences	- Enterprise only
                    Turn off all spotlight features	
                }
            }
            { Data Collection and Preview Builds	
                Set Telemetry to off
                Disable pre-release features and settings
                Do not show feedback notifications
            }
            { Store 
                Disable all apps from Store
                Turn off store
            }
            { Sync Settings
                Do not sync (anything)
                Disallow users to override this
            }
            { Non Local GP Settings
                Delivery Optimization settings - sets to 1 for LAN only, change to 0 for off
                Disabling advertising info and device metadata collection for this machine
	            Disable CEIP. GP setting at: Computer Config\Admin Templates\System\Internet Communication Managemen\Internet Communication settings
	            Turn off automatic download/install of store app updates	
	            Prevent using sign-in info to automatically finish setting up after an update
                Prevent apps on other devices from opening apps on this one - disables phone pairing
                Enable diagnostic data viewer
	            Disable Edge desktop shortcut
	            Filter web content through smartscreen. Left enabled by default.
            }
            { Game Settings
                Disable Game Monitoring Service
                GameDVR local GP
            }
            { OneDrive Settings
                Prevent usage of OneDrive local GP
                Remove OneDrive from File Explorer
            }
            { Other
                Add "Run as different user" to context menu
                Disable "Meet Now" taskbar button
            }
        }
        { Windows Update
            Turn off featured SOFTWARE notifications through Windows Update
        }
        { Cortana
            Disallow Cortana
            Disallow Cortana on lock screen
        }
        { Explorer Settings 
        }
        { Start Menu
            Clean up the default start menu
        }
}
{ Game Launchers
        Steam
        Epic Games
        Uplay
        Battle.net
        { Minecraft
            NBTExplorer
        }
}
{ Utilties
        7-Zip
        Logitech Unifying Software
        FileZilla
        Notepad++
        Fastcopy
        Crystaldiskinfo
        Crystaldiskmark
        Autoclicker
        Acrobat Reader DC
        Revo
}
{ Drivers
        { Codecs
            K-Lite
        }
        { GPU
            Nvidia
            AMD
            Intel
        }
}
{ Audio
        Audacity
        FL Studio
        Ableton
        Spotify
        Youtube Music
}
{ Photo and Video
        Gimp
        Creative Cloud
        Davinci
        VLC
}
{ Developer Tools
        { IDEs
            Visual Studio Code
            Eclipse
            Android Studio
        }
        { Environments and Runtimes
            JDK
            JRE
            Python
            .net
        }
        { Utilties
            Github
            Docker
            Putty
        }
}
{ Web Browsers
        Chrome
        Firefox
        Edge
        { Extensions
            Ublock
            Lastpass
            Honey
        }
}
{ Virtualiztion
        { OracleVM VirtualBox
            VM Guest Addons
        }
}
{ Benchmarking 
        3DMark
        CPUID
        OpenHWMonitor
}
{ Communication
    Discord
    Zoom
    Teams
    Skype
}
{ Online Storage
    Dropbox
    Google Backup and Sync
    OneDrive
}
{ VPN
    NordVPN
}